{% extends "main_template.html" %}
{% from 'macros.html' import GenerateRealTimeInfo %}

{% block title %}
Mission Control Application - Home
{% endblock %}

{% block body %}

{% if not current_user.is_authenticated %}
    <div class="light-text">
        <h2>Welcome to Mission Control!</h2>
        <p/>
        Please login or sign up to use this system.
    </div>
{% else %}
    <section style="width: 100%">
        {{ GenerateRealTimeInfo('Last Completed Mission', pHeaders, pRows) }}
        {{ GenerateRealTimeInfo('Missions In Progress', cHeaders, cRows) }}
        {{ GenerateRealTimeInfo('Next Scheduled Mission', nHeaders, nRows) }}
    </section>

{% endif %}

{% endblock %}
