{% macro GenerateTable(title, headers, rows, keyName) %}
	{% if rows %}
		<table>
			<caption>
				{{title}}
			</caption>
			<tr>
				{% for header in headers %}
				<th>{{header}}</th>
				{% endfor %}
				<th/>
			</tr>
			{% for row in rows %}
			<tr id ="{{row[keyName]}}">
				{% for value in row %}
					{% if loop.index0 > 1 %}
						<td>
							{% if title == "Astronauts" %}
								<a href="{{ url_for('showAstronautInfo', aid = row[keyName]) }}">{{value|safe}}</a>
							{% else %}
								{{value|safe}}
							{% endif %}
						</td>
					{% endif %}
				{% endfor %}
				{% if row[1] == 1 %}
					{% set disabled = 'disabled' %}
				{% else %}
					{% set disabled = '' %}
				{% endif %}
				<td>
					<div class="form-style-2" style="width:70px; padding: 0px 0px 0px 0px;">
						<form method="post">
							<input type="submit" value="Delete" name="delete.{{ row[0] }}" {{disabled}}/>
						</form>
					</div>
				</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		No records found!
	{% endif %}
{% endmacro %}

{% macro GenerateFormToAddEntry(submitButtonText, inputs) %}
	<div class="form-style-2">
	<div class="form-style-2-heading">{{submitButtonText}}</div>
	<form method="post">
		{% for fieldName, fieldType, fieldLabel, optionalValues in inputs %}
			{% if fieldType == 'text' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span>{% if fieldName == 'lat' %}</br>(##.#####_[N|S]){% elif fieldName == 'long' %}</br>(##.#####_[E|W]){% endif %}</span><input type="text" class="input-field" name="{{fieldName}}" required/></label>
			{% elif fieldType == 'password' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span></span><input type="password" class="input-field" name="{{fieldName}}" required/></label>
			{% elif fieldType == 'number' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span></span><input type="number" class="input-field" name="{{fieldName}}" required/></label>
			{% elif fieldType == 'select' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span>{% if fieldName == 'fid' %} <sup>&dagger;</sup>{% endif %}</span><select name="{{fieldName}}" class="select-field" required>
					<option disabled selected value> -- select {{fieldLabel}} -- </option>
					{% for id, displayName in optionalValues %}
						<option value="{{id}}">{{displayName}}</option>
					{% endfor %}
				</select></label>
			{% elif fieldType == 'selectmultiple' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span></span><select multiple name="{{fieldName}}" class="select-field" required>
				{% for id, displayName in optionalValues %}
					<option value="{{id}}">{{displayName}}</option>
				{% endfor %}
				</select></label>
			{% elif fieldType == 'datetime' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span></br>(YYYY-MM-DDTHH:MM)</span><input type="datetime-local" class="input-field" name="{{fieldName}}" id="{{optionalValues[0]}}" onchange="changeEnd()" required></label>
			{% elif fieldType == 'date' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span></br>(YYYY-MM-DD)</span><input type="date" class="input-field" name="{{fieldName}}" required></label>
			{% elif fieldType == 'radio' %}
				<label for="{{fieldName}}"><span>{{fieldLabel}} <span class="required">*</span></span>
				{% for id, displayName in optionalValues %}
					<input type="radio" name="permission" value="{{id}}" required> {{displayName}}
				{% endfor %}
				</label>
			{% endif %}
		{% endfor %}
		<label><span>&nbsp;</span><input type="submit" value="{{submitButtonText}}"/></label>
	</form>
	</div>
{% endmacro %}

{% macro GenerateRealTimeInfo(title, headers, rows) %}
	{% if rows %}
		<table>
			<caption>
				{{title}}
			</caption>
			<tr>
				{% for header in headers %}
				<th>{{header}}</th>
				{% endfor %}
			</tr>
			{% for row in rows %}
			<tr>
				{% for key in row.keys() %}
					{% if key == "launchTimeLive" %}
						<td>
							<span id="{{ row['mid'] }}launchTimeLive">
								<script>
									refreshElapsed("{{ row[key] }}", "#{{ row['mid'] }}launchTimeLive")
								</script>
							</span>
						</td>
					{% elif key == "landTimeLive" %}
						<td>
							<span id="{{ row['mid'] }}landTimeLive">
								<script>
									refreshCountdown("{{ row[key] }}", "#{{ row['mid'] }}landTimeLive")
								</script>
							</span>
						</td>
					{% elif key == "fuelBurnRateLive" %}
						<td>
							<span id="{{ row['mid'] }}fuelBurnRateLive">
								<script>
									refreshFuelBurned("{{ row['launchTimeLive'] }}", "{{ row[key] }}", "#{{ row['mid'] }}fuelBurnRateLive")
								</script>
							</span>
						</td>
					{% elif key == "fuelTankSizeLive" %}
						<td>
							<span id="{{ row['mid'] }}fuelTankSizeLive">
								<script>
									refreshFuelRemaining("{{ row['launchTimeLive'] }}", "{{ row['fuelBurnRateLive'] }}", "{{ row[key] }}", "#{{ row['mid'] }}fuelTankSizeLive")
								</script>
							</span>
						</td>
					{% elif key == "countdownToLaunchLive" %}
						<td>
							<span id="{{ row['mid'] }}countdownToLaunchLive">
								<script>
									refreshCountdown("{{ row[key] }}", "#{{ row['mid'] }}countdownToLaunchLive")
								</script>
							</span>
						</td>
					{% elif loop.index0 > 0 %}
						<td>
							{{ row[key] | safe }}
						</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	{% else %}
		No {{ title }}!
	{% endif %}
{% endmacro %}

{% macro GenerateInfoBox(title, infoDict) %}
	{% if infoDict %}
		<table class="info-box">
			{% if title %}
				<caption>
					{{title}}
				</caption>
			{% endif %}
			{% for key, value in infoDict.items() %}
				<tr>
					<td><b>{{ key }}:</b></td><td>{{ value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		No {{ title }}!
	{% endif %}
{% endmacro %}
