<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/JavaScript" src="{{ url_for('static', filename='scripts.js') }}"></script>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<ul class="nav">
				<h1 class="nav">Mission Control Application</h1>
				<li class="nav"><a class="nav" href="{{ url_for('index') }}">Home</a></li>
				{% if current_user.is_authenticated %}
				<li class="nav"><a class="nav" href="{{ url_for('showMissions') }}">Missions</a></li>
				<li class="nav"><a class="nav" href="{{ url_for('showFacilities') }}">Launch Facilities</a></li>
				<li class="nav"><a class="nav" href="{{ url_for('showRockets') }}">Rockets</a></li>
				<li class="nav"><a class="nav" href="{{ url_for('showAstronauts') }}">Astronauts</a></li>
				{% endif %}
				<div class="user-greeting">
					{% if current_user.is_authenticated %}
  						Hello, {{ current_user.id }}!    <a class="nav" href="{{ url_for('showLogout') }}">(Logout)</a>
					{% else %}
						Hello, guest!    <a class="nav" href="{{ url_for('showLogin') }}">Login</a><a class="nav" href="{{ url_for('showSignup') }}">Sign Up</a>
					{% endif %}
				</div>
			</ul>
		</header>
		<p/>
		{% block body %}{% endblock %}
	</body>
</html>