{% extends "main_template.html" %}
{% from 'macros.html' import GenerateTable, GenerateFormToAddEntry with context %}

{% block title %}
Missions
{% endblock %}
{% block body %}
<section style="float:left">
    {{ GenerateTable('Missions', headers, rows, 'mid') }}
</section>
{% if current_user.permission == 3 %}
    <section style="float:left">
        {{ GenerateFormToAddEntry('Add Mission', inputs) }}
    </section>
    <section style="float:left">
    <div class="form-style-2">
    <div class="form-style-2-heading"><sup>&dagger;</sup> Find Nearest Launch Facility</div>
        <form method="post">
        <label for="latitude"><span>Latitude</br>(##.######_[N|S])</span><input type="text" class="input-field" name="latitude" required></label>
        <label for="longitude"><span>Longitude</br>(##.######_[E|W])</span><input type="text" class="input-field" name="longitude" required></label>
            <label><span>&nbsp;</span><input type="submit" name="action" value="Use Nearest Facility"/><label>
        </form>
    </div>
    </section>

    {% if closestFacility %}
    <script>
    document.getElementById('fid').value = {{closestFacility}};
    </script>
    {% endif %}
{% endif %}
<section style="float:left">
    {{ GenerateTable('Overlapping Missions', headersOverlap, rowsOverlap, 'mid') }}
</section>

<script type="text/JavaScript" src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
