{% extends "main_template.html" %}
{% from 'macros.html' import GenerateTable, GenerateFormToAddEntry with context %}

{% block title %}
Missions
{% endblock %}
{% block body %}
<section style="float:left">
    {{ GenerateTable('Missions', headers, rows, 'mid') }}
</section>
<section style="float:left">
	{% if current_user.permission == 3 %}
        {{ GenerateFormToAddEntry('Add Mission', inputs) }}
    {% endif %}
</section>
<script type="text/JavaScript" src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}